<div class="row m-3 d-flex align-items-center">
  <div class="col d-flex">
    <h1 class="text-secondary">TODO</h1>
    <div class="d-flex align-items-center ms-3 mb-1">
      <span class="badge bg-primary fs-6">{{ $ctrl.todoList.length }}</span>
    </div>
  </div>
  <div class="col-4 justify-content-end">
    <form name="form" class="d-flex" novalidate>
      <input type="text" name="title" class="form-control" ng-model="$ctrl.title" ng-required="true">
      <button type="submit" ng-disabled="form.title.$invalid" class="btn ms-3 btn-primary" ng-click="$ctrl.addTodo()">
        Add
      </button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div
      ng-repeat="todo in $ctrl.todoList track by todo.id"
      class="my-3 d-flex justify-content-between rounded-pill align-items-center px-4 py-3 bg-white border {{ todo.status ? 'border-success' : 'border-danger' }}">
      <div>
        <input type="checkbox" class="form-check-input" ng-change="$ctrl.handleStatus(todo.id)" ng-model="todo.status">
      </div>
      <div class="text-primary w-75 fs-4 fw-bold {{ todo.status ? 'text-success' : 'text-danger' }}">
        {{ todo.title }}
      </div>
      <div class="d-flex">
        <div class="mx-1" >
          <a href="#!/edit/{{todo.id}}" class="btn btn-primary px-2 py-1">Edit</a>
        </div>
        <div class="mx-1">
          <button class="btn px-2 py-1 btn-danger" ng-click="$ctrl.deleteTodo(todo.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
