<div class="row mt-5">
  <div class="col-4 offset-4">
    <form name="form" novalidate>
      <p class="fs-4 fw-bold text-primary text-center">Edit TODO title</p>
      <input type="text" name="title" class="form-control my-3" ng-model="$ctrl.title" ng-required="true">
      <div class="d-flex justify-content-end w-100">
        <a href="#!/todo" class="btn btn-danger mx-1 w-100">Close</a>
        <button type="submit" ng-click="$ctrl.editTodo()" class="btn btn-primary mx-1 w-100" ng-disabled="form.title.$invalid">Edit</button>
      </div>
    </form>
  </div>
</div>
